@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Inter',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.025em;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

::-webkit-file-upload-button {
    cursor: pointer;
}

@media (max-width: 767px) {
    .navicon {
        width: 1.125em;
        height: .125em;
    }
    .navicon::before,
    .navicon::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all .2s ease-out;
        content: '';
        background: #3D4852;
    }
    .navicon::before {
        top: 5px;
    }
    .navicon::after {
        top: -5px;
    }
    .menu-btn:not(:checked)~.menu {
        display: none;
    }
    .menu-btn:checked~.menu {
        display: block;
    }
    .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }
    .menu-btn:checked~.menu-icon .navicon::before {
        transform: rotate(-45deg);
    }
    .menu-btn:checked~.menu-icon .navicon::after {
        transform: rotate(45deg);
    }
    .menu-btn:checked~.menu-icon .navicon::before,
    .menu-btn:checked~.menu-icon .navicon::after {
        top: 0;
    }
}